<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FutureTechApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="icon" href="~/favicon_1.ico">

</head>
<body>
    <header>
        <div class="main-header">
            <div class="logo">
                <a href="@Url.Action("Dashboard", "Home")">FutureTechApp</a>
            </div>
            <a href="#menu" class="menu-link"><i class="fas fa-bars"></i></a>
            <nav id="menu" class="main-nav">
                <ul class="main-menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Home/Dashboard">Dashboard</a></li>
                        <li><a href="@Url.Action("Create", "Student")">Add Student</a></li>
                        <li><a href="@Url.Action("Index", "Student")">Manage Students</a></li>
                        <li><a href="@Url.Action("Search", "Student")">Search Student</a></li>
                        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - FutureTechApp. All rights reserved.</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.menu-link').click(function (e) {
                e.preventDefault();
                $('#menu').toggleClass('active');
            });
        });
    </script>
</body>
</html>