@model Student

@{
    ViewData["Title"] = "Student Details";
}

<h2>Student Details</h2>

<div class="form-group half-width">
    <label>Student ID</label>
    <p>@Model.id</p>
</div>

<div class="form-row">
    <div class="form-group half-width">
        <label>First Name</label>
        <p>@Model.FirstName</p>
    </div>
    <div class="form-group half-width">
        <label>Last Name</label>
        <p>@Model.LastName</p>
    </div>
</div>

<div class="form-row">
    <div class="form-group half-width">
        <label>Email</label>
        <p>@Model.Email</p>
    </div>
    <div class="form-group half-width">
        <label>Mobile Number</label>
        <p>@Model.MobileNumber</p>
    </div>
</div>

<div class="form-row">
    <div class="form-group half-width">
        <label>Enrolment Status</label>
        <p>@Model.EnrolmentStatus</p>
    </div>
    <div class="form-group half-width">
        <label>Current Photo</label>
        @if (!string.IsNullOrEmpty(ViewBag.CurrentPhotoUrl))
        {
            <img src="@ViewBag.CurrentPhotoUrl" alt="Current Photo" style="max-width: 200px; max-height: 200px;" />
        }
        else
        {
            <p>No photo available.</p>
        }
    </div>
</div>



<hr />

<a asp-action="Index" class="btn btn-secondary">Back to List</a>